Repository anhtu26/cut-and-track-mrp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/task-scanner.js, prettier --write

refactor the operation service and edit template dialog for better maintainability, and make the document components more modular
  src/components/operations/edit-template-dialog.tsx
  src/components/operations/operation-document-manager.tsx
  src/components/operations/save-as-template-button.tsx
  src/components/operations/template/template-form.tsx
  src/components/ui/document-upload.tsx
  src/lib/operation-service.ts
  src/lib/services/document/index.ts
  src/lib/services/operation/document-service.ts
  src/lib/services/operation/index.ts
  src/lib/services/operation/operation-mapper.ts
  src/lib/services/operation/operation-query-service.ts
  src/lib/services/operation/operation-service.ts
  src/lib/services/operation/operation-update-service.ts
  src/lib/services/operation/template-sync-service.ts
Due: eslint --fix, node scripts/task-scanner.js

Syntax error operation-service.ts
  src/lib/operation-service.ts
Due: eslint --fix, node scripts/task-scanner.js

Fixing the type.ts missing components
  ARCHITECTURE.MD
  PLANNING.md
  TASK.md
  package-lock.json
  package.json
  src/components/operations/edit-template-dialog.test.tsx
  src/components/operations/edit-template-dialog.tsx
  src/components/operations/template/template-form.tsx
  src/components/operations/template/template-sync.test.ts
  src/lib/services/operation/template-sync-service.ts
  src/test/setup.ts
  vitest.config.ts
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

Fix template sync service
  src/lib/services/operation/template-sync-service.test.ts
  src/lib/services/operation/template-sync-service.ts
Due: eslint --fix, node scripts/task-scanner.js

0.5.0 Supabase docker setup locally with tools _GROK
  .env.docker.example
  DOCKER-SETUP.md
  Dockerfile.client
  docker-compose.yml
  init-local-db.sh
  package.json
  scripts/docker-init.sh
Due: prettier --write

Update dependencies and keys
  docker-compose.yml
  package.json
  supabase/.temp/cli-latest
Due: prettier --write

Update docker-compose.yml
  ROOKIENOTE.MD
  init-local-db.sh
Due: none

Fix template form and remove redundant document handling checkbox
  TASK.md
  package.json
  src/components/operations/edit-template-dialog.tsx
  src/components/operations/template/template-form.tsx
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

WIP Refactoring operation template management: Modularized forms, removed redundant save-as-template button, ensured document handling
  TASK.md
  src/components/operations/edit-template-dialog.tsx
  src/components/operations/operation-form.tsx
  src/components/operations/shared/modular-operation-form.tsx
  src/components/operations/template/operation-template-form.tsx
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

Modularized operation template management
  src/components/operations/shared/modular-operation-form.tsx
  src/components/operations/template/operation-template-form.tsx
  src/lib/services/operation/operation-update-service.ts
  src/pages/EditOperation.tsx
  src/pages/OperationDetail.tsx
Due: eslint --fix, node scripts/task-scanner.js

Mirgration from Supabase to local server in progress
  .husky/pre-commit
  .windsurf/rules/windsurfrule-general.md
  DEPLOYMENT_GUIDE.md
  DOCKER-SETUP.md
  MIGRATION_TASKS.MD
  package-lock.json
  package.json
  scripts/docker-init.sh
  scripts/task-scanner.js
  server/.env
  server/.env.example
  server/README.md
  server/db/index.js
  server/db/schema.sql
  server/index.js
  server/middlewares/auth.js
  server/migrations/supabase-to-local.js
  server/package-lock.json
  server/package.json
  server/routes/auth.js
  server/routes/customers.js
  server/routes/operations.js
  server/routes/parts.js
  server/routes/storage.js
  server/routes/workorders.js
  server/scripts/db-setup.js
  server/scripts/local-deploy.js
  server/scripts/test-api.js
  src/hooks/use-auth-local.tsx
  src/lib/services/api/config.ts
  src/lib/services/api/customers.ts
  src/lib/services/api/index.ts
  src/lib/services/api/operations.ts
  src/lib/services/auth/index.ts
  src/lib/services/document-local/index.ts
  src/lib/services/storage/index.ts
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

eat: set up local database with schema, migrations and API services
  DEPLOYMENT_GUIDE.md
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  postcss.config.js
  server/.env
  server/db/schema.sql
  server/migrations/supabase-to-local.js
  server/scripts/init-db.js
  server/scripts/setup-local-db.js
  src/components/ui/chart.tsx
  src/components/ui/sonner.tsx
  src/hooks/use-auth.tsx
  src/index.css
  src/lib/services/api/config.ts
  src/lib/services/api/customers.ts
  src/lib/services/api/operations.ts
  src/lib/services/auth/mock-auth.ts
  tailwind.config.ts
  vite.config.ts
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

chore: migrate to local hosting with ITAR-compliant authentication and Docker setup
  CUT_AND_TRACK_MRP_DOCUMENTATION.MD
  DEPLOYMENT_GUIDE.md
  DONOTUSE.BAK
  Dockerfile.client
  FRONTEND_FIX.MD
  ITAR_COMPLIANCE.MD
  MIGRATION_COMPLETION.MD
  MIGRATION_TASKS.MD
  PLANNING.md
  ROOKIENOTE.MD
  database/init.sh
  database/migrations/001_initial_schema.sql
  database/migrations/002_seed_data.sql
  deploy-local.bat
  docker-compose.yml
  server/.env
  server/Dockerfile
  server/package.json
  server/routes/auth.js
  src/components/dashboard/kpi-metrics.tsx
  src/components/layout/sidebar.tsx
  src/components/ui/card-stats.tsx
  src/hooks/use-auth.tsx
  src/lib/api/auth.ts
  src/lib/api/client.ts
  src/pages/Dashboard.tsx
  src/types/index.ts
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

feat: implement local authentication system with JWT and Argon2 hashing
  .env
  .windsurf/rules/windsurfrule-general.md
  .windsurf/workflows/debug-auth.md
  postcss.config.js
  server/scripts/docker-reset-password.sql
  server/scripts/local-auth-test.js
  server/scripts/reset-admin-password.js
  server/scripts/test-login.js
  src/App.tsx
  src/index.css
  src/lib/api/client.ts
  src/lib/services/auth/index.ts
  src/lib/services/auth/supabase-proxy.ts
  src/lib/supabase-client-proxy.ts
  src/pages/Login.tsx
  tailwind.config.ts
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

feat: add Docker development environment with hot reloading for client and server
  Dockerfile.dev.client
  MIGRATION_COMPLETION.MD
  docker-compose.dev.yml
  package.json
  server/Dockerfile.dev
  server/index.js
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

refactor: reorganize Docker and frontend configuration files for improved structure
  Dockerfile.dev.client
  docker/Dockerfile
  docker/Dockerfile.client
  docker/Dockerfile.dev.client
  docker/README.md
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  fix-undefined-errors.js
  index.html
  package-lock.json
  package.json
  postcss.config.cjs
  public/css-inject.js
  public/essential-styles.css
  public/inject-simple.js
  public/tailwind-inject.js
  public/tailwind-simple.css
  src/components/layout/app-header.tsx
  src/components/layout/sidebar.tsx
  src/index.css
  src/lib/api/client.ts
  src/pages/AddCustomer.tsx
  src/pages/UserManagement.tsx
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-version
  supabase/config.toml
  supabase/functions/create-user/index.ts
  supabase/functions/delete-user/index.ts
  supabase/functions/update-user/index.ts
  supabase/migrations/20250420103155_add_customer_id_to_parts.sql
  tailwind.build.js
  tailwind.config.ts
  vite.config.ts
Due: eslint --fix, node scripts/task-scanner.js, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  node scripts/task-scanner.js: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md}
